@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/*! go top */
.button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 0px 4px rgba(180, 160, 255, 0.253);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: fixed;
  right: 10px;
  bottom: 2%;
  z-index: 99;
}

.svgIcon {
  width: 12px;
  transition-duration: 0.3s;
}

.svgIcon path {
  fill: white;
}


.button:hover {
  width: 140px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: rgb(181, 160, 255);
  align-items: center;
}

.button:hover .svgIcon {
  /* width: 20px; */
  transition-duration: 0.3s;
  transform: translateY(-200%);
}

.button::before {
  position: absolute;
  bottom: -20px;
  content: "Back to Top";
  color: white;
  /* transition-duration: .3s; */
  font-size: 0px;
}

.button:hover::before {
  font-size: 13px;
  opacity: 1;
  bottom: unset;
  /* transform: translateY(-30px); */
  transition-duration: 0.3s;
}
/*! button go top */




.container11 {
    /* max-width: 1050px; */
    height: 20%;
    width: 100%;
    /* margin: auto; */
  }

  #formation{
    border-bottom: 4px solid #0D0C2B !important;
  }
  
  .navbar {
    width: 100%;
    height: 100%;
    box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
    
  }
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
  }
  
  .navbar .menu-items {
    display: flex;
    background: #CAF0F8;
    width: 100% !important;
  }
  
  .navbar .nav-container li {
    list-style: none;
  }
  
  .navbar .nav-container a {
    text-decoration: none;
    color: #0e2431;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
  }
  
  .navbar .nav-container a:hover{
      font-weight: bolder;
  }
  
  .nav-container {
    display: block;
    position: relative;
    height: 60px;
  }
  
  .nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }
  
  .nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #0e2431;
  }
  
  .nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
  
  .navbar .menu-items {
    /* padding-top: 80px; */
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    /* height: 100vh; */
    width: 100%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
  }
  
  .navbar .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
  }
  
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 1.2rem;
    color: #0e2431;
  }
  
  .nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
    /* height: 1000px; */
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .logo{
    display: none;
  }
  .iconLogo{
    display: flex !important;
    
    /* height: 100px;
    width: 100px; */
  }
  

  /*? Section 1 containers for the content */
.container{
    height:100vh;
    display:grid;
    place-items:center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size:cover;
    padding: 0;
    margin: 0;
  }
  .container:nth-child(1){
    margin-top:0;
  }
  .container:nth-child(2){
    margin-top:0;
    background-position: left;
  }
  
  .container>p{
    margin-bottom: 20%;
    text-align: center;
    font-size:3rem;
    color:#CAF0F8;
    text-shadow:2px 2px black;
    transition:all 0.5s linear;
  }
  .container button{
    color:#0E2431;
  }


  /*   

  .container-2{
    background-image:  url("./../assets/image/CLASSROOM.jpg")
  }
  .container-3{
    background-image:url("./../assets/image/Molengeek\ work.jfif")
  } */
  
  /* .container-4{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(27, 20, 20, 0.5)), url("./../assets/image/classSmiling.jpg")
  } */
  .container-1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(27, 20, 20, 0.5)), url("./../assets/image/formations.jpg") 
  }

  /* .container-5{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(27, 20, 20, 0.5)), url("./../assets/image/Cafeteria.jpg")
  } */
  #bottone1 {
    padding-left: 33px;
    padding-right: 33px;
    padding-bottom: 16px;
    padding-top: 16px;
    border-radius: 9px;
    background: #CAF0F8;
    border: none;
    font-family: inherit;
    text-align: center;
    cursor: pointer;
    transition: 0.4s;
   }
   
   #bottone1:hover {
    box-shadow: 7px 5px 56px -10px #00d99c;
    background: #04c5ec6f;
    color: beige;
   }
   
   #bottone1:active {
    transform: scale(0.97);
    box-shadow: 7px 5px 56px -0px #00d99f;
   }
  #bottone2 {
    padding-left: 33px;
    padding-right: 33px;
    padding-bottom: 16px;
    padding-top: 16px;
    border-radius: 9px;
    background: #caf8d0;
    border: none;
    font-family: inherit;
    text-align: center;
    cursor: pointer;
    transition: 0.4s;
   }
   
   #bottone2:hover {
    box-shadow: 7px 5px 56px -10px #00d99c;
    background: #11f3956e;
    color: beige;
   }
   
   #bottone2:active {
    transform: scale(0.97);
    box-shadow: 7px 5px 56px -0px #00d99f;
   }

   .section1{
    /* background: #CAF0F8; */
    background: rgba(245, 245, 220, 0.127);
   }

   .section2{
    display: none;
    background: #0095c730;
    height: 100vh;
    width: 100%;
    
  
  }
  
  .section2>h1{
    padding-top: 2%;
    
    text-align: center;
    color: #0E2431;
    font-size: 50px;
  }
  
  .section2>h2{
      color: #0E2431;
      padding: 8%;
      text-align: justify;
      line-height: 80px;
      /* text-size-adjust: 20px; */
      font-size: 30px;
      /* font-size: 42px; */
  }
  
  .section2>h2>a{
    text-decoration: none;
     color: #00d99f;
     transition: 0.1s;
  
  }
  
  .section2>h2>a:hover{
    color: rgb(0, 21, 21);
    border-bottom: 4px solid #92FEA9;
  }

  .buttonReturn {
    display: none;
    position: absolute;
    top: 90%;
    left: 47%;
    padding: 12.5px 30px;
    border: 0;
    border-radius: 100px;
    background-color: #232d33;
    color: #ffffff;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }
  
  .buttonReturn:hover {
    background-color: #3f8a93;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.1);
  }
  
  .buttonReturn:active {
    background-color: #3d94cf;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
  }

  .section33{
    display: none;
    background: #CAF8D0;
    height: 100vh;
    width: 100%;
    
  
  }
  
  .section33>h1{
    padding-top: 2%;
    
    text-align: center;
    color: #0E2431;
    font-size: 50px;
  }
  
  .section33>h2{
      color: #0E2431;
      padding: 8%;
      text-align: justify;
      line-height: 80px;
      /* text-size-adjust: 20px; */
      font-size: 30px;
      /* font-size: 42px; */
  }
  
  .section33>h2>a{
    text-decoration: none;
     color: #00d99f;
     transition: 0.1s;
  
  }
  
  .section33>h2>a:hover{
    color: rgb(0, 20, 20);
    border-bottom: 4px solid #92FEA9;
  }

  
  .section3{
    background: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: #e6fae9;
    height: 70vh;
  }
  
  .container-6{
    display: flex;
    justify-content: center;
    width: 80%;
    gap: 10%;
  }
  
  .card{
    display: flex;
    justify-content: center;
    align-items: center;
  
    background: #206d84 !important;
    border: 4px solid #2a4c5f !important;
    width: 30%;
  }
  .card:hover{
    background: #4e1d4a !important;
    box-shadow: 1px 1px 2px 3px rgba(23, 157, 151, 0.766) !important;
  }
  
  .card>p{
    color: #92FEA9;
  }
  
  .cardImage{
    width: 100%;
    height: 50%;
    position: top;
  }
  



  
  /*! Card Button  */
  .button1 {
    all: unset;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.6em 2em;
    border: mediumspringgreen solid 0.15em;
    border-radius: 0.25em;
    
    color: mediumspringgreen;
    font-size: 1.5em;
    font-weight: 600;
    cursor: pointer;
    overflow: hidden;
    transition: border 300ms, color 300ms;
    user-select: none;
  }
  
  .button1 p {
    z-index: 1;
  }
  
  .button1:hover {
    color: #212121;
  }
  
  .button1:active {
    border-color: teal;
  }
  
  .button1::after, .button1::before {
    content: "";
    position: absolute;
    width: 9em;
    aspect-ratio: 1;
    background: rgb(0, 250, 237);
    opacity: 50%;
    border-radius: 50%;
    transition: transform 500ms, background 300ms;
  }
  
  .button1::before {
    left: 0;
    transform: translateX(-8em);
  }
  
  .button1::after {
    right: 0;
    transform: translateX(8em);
  }
  
  .button1:hover:before {
    transform: translateX(-1em);
  }
  
  .button1:hover:after {
    transform: translateX(1em);
  }
  
  .button1:active:before,
  .button1:active:after {
    background: teal;
  }
  
  /*! Card Button  */

  .section4{
    background: #FEFEFB;
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
  }
  .section4>h2{
    padding: 3%;
    text-align: center;
    
    color: #0E2431;
  }
  
  .event1{
    width: 80%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    
  }
  
  .eventText{
    text-align: center;
    margin-right: 30%;
    height: 80%;
    border: 2px solid #0E2431;
    border-radius: 2PX;
    font-size: larger;
    color: #0E2431;
    width: 70%;
    transition: 0.2s;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
  }
  .eventDate{
    text-align: center;
    border: 3px solid #0E2431;
    height: 80%;
    width: 30%;
    color: #0e9f91;
    font-size: large;
    transition: 0.2s;
  
  }
  .eventText:hover{
    background-color: #CFEBF4;
    color: #0E2431;
    font-weight: 700;
  }
  
  .eventDate:hover{
    background-color: #CFEBF4;
    color: #0E2431;
    font-weight: 700;
  }

 .section5 {
  height: 60vh;
  width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
    font-family: 'DM Sans', sans-serif;
    transition: background .4s ease-in;
    background-color: #CFEBF4;

  }

  /*! carousel */

  
  /* Animation */
  @keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-300px * 4))}
  }
  
  
  /* Styling */
  .slider {
    background: white;
    box-shadow: 20px 10px 20px -5px rgba(0, 0, 0, 0.652);
    height: 100px;
    margin: auto;
    overflow:hidden;
    position: relative;
    width: 960px;
    
    &::before,
    &::after {
      /* @include white-gradient; */
      content: "";
      height: 100px;
      position: absolute;
      width: 200px;
      z-index: 2;
    }

    
    &::after {
      right: 0;
      top: 0;
      transform: rotateZ(180deg);
    }
  
    &::before {
      left: 0;
      top: 0;
    }
    
    .slide-track {
      animation: scroll 15s linear infinite;
      display: flex;
      width: calc(250px * 8);
      justify-content: space-around;
      gap: 2% !important;
    }
    
    .slide {
      height: 100px;
      width: 250px;
    }
  }

  /* ! carousel */


  .section6{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background: #CAF8D0;
  
  }
  .section6>h2{
    margin-top: 30px;
    margin-bottom: 30px;
    color: #0E2431;
  }
  .googleMap{
    border: 4px solid#0e2431;
    width: 50%;
    padding: 0%;
    margin: 2%;
    transition: 0.5s;
    
    /* height: 100%; */
  }

  .googleMap:hover{
    -webkit-box-shadow: 5px 1px 25px 11px rgba(38,6,38,1);
    -moz-box-shadow: 5px 1px 25px 11px rgba(38,6,38,1);
    box-shadow: 5px 1px 25px 11px rgba(38,6,38,1);
  }

  .sec6Right{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
  }
  
  
  .section7{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #F5F5F5;
  
  }
  .section7>h1{
    margin-top: 30px;
    margin-bottom: 30px;
    color: #212529;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .youtube{
    display: flex;
    gap: 50px;
  }


  .logoNews{
    font-size: 50px;
  }
  .logoNews:hover{
    font-weight: 700;
    animation-play-state: paused;
    color: #0e9f91;
  }

  /*! Email input */


.input {
  max-width: 390px;
  height: 44px;
  background-color: #CFEBF4;
  /* background-color: #515151f9; */
  border-radius: .5rem;
  padding: 0 1rem;
  border: 3px solid black;
  font-size: 1rem;
  transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s,background .2s cubic-bezier(.25,.01,.25,1) 0s !important;
}

.label {
  display: block;
  margin-bottom: .3rem;
  font-size: 1.9rem;
  font-weight: bold;
  color: #373d42;
  transition: color .3s cubic-bezier(.25,.01,.25,1) 0s;
}

.input:hover, .input:focus, .input-group:hover .input {
  outline: none;
  border-color: #05060f;
  background-color: #86e0d7;
}

.input-group{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.input-group:hover .label, .input:focus {
  color: #000000;
}
/*! Email input */

.footer {
  position: relative;
  width: 100%;
  background: linear-gradient( rgba(25, 1, 18, 0.966) 10%,#95ccde 25%, #b0f0ff 58%, #0D0C2B 93%);;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #371E34;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
  
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}



@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}


.center {
  display: flex;
  justify-content: center;
  align-items: center;
} 




/* background: linear-gradient( rgba(25, 1, 18, 0.966) 10%,rgba(6, 184, 143, 0.768) 25%, rgba(2, 108, 83, 0.768) 58%, #0D0C2B 93%);; */ */
 footer{
  background: #33415c;
 
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: column;

  
}

footer>h1{
  padding-top: 2%;
  color: blanchedalmond;
  text-align: center;
}

.footerText{
  position: relative;
  right: -10%;
  bottom: 20%;
  width: 30%;
  color: beige;
  z-index: 99;
}


.logosDiv{
  padding-top: 5%;
  position: relative;
  left: 41%;
  width: 18%;
 
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyRight{

  width: 100%;
  display: flex;
  flex-direction: column;
  background: #232d33;
  
}

.copyRight>p{
  text-align: center;
  padding: 0;
  margin: 0;
  color: #CFEBF4;
  width: 100%;
} 


/*? accordeon */
:root {
  --primary: #227093;
  --secondary: #5bc2c2;
  --violé: #2be206;
  --background: #eee;
  --highlight: #ffda79;
  /* Theme color */
  --theme: var(--primary);
}

.faq{
  display: flex;
  place-content: center;
  grid-template-columns: repeat(auto-fit, min(100%, 30rem));
  height: 50vh;
  place-items: start;
  gap: 1rem;
  margin: 0;
  padding: 1rem;
  color: var(--primary);
  background: var(--background);
}

.tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.tab__content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.35s;
}
.tab input:checked ~ .tab__content {
  max-height: 10rem;
}

/* Visual styles */
.accordion {
  color: var(--theme);
  border: 2px solid;
  border-radius: 0.5rem;
  overflow: hidden;
}
.tab__label,
.tab__close {
  display: flex;
  color: rgb(44, 3, 77);
  background: var(--theme);
  cursor: pointer;
}
.tab__label {
  justify-content: space-between;
  padding: 1rem;
}
.tab__label::after {
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  transform: rotate(90deg);
  transition: all 0.35s;
}
.tab input:checked + .tab__label::after {
  transform: rotate(270deg);
}
.tab__content p {
  margin: 0;
  padding: 1rem;
}
.tab__close {
  justify-content: flex-end;
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
}
.accordion--radio {
  --theme: var(--secondary);
}
.accordion--violé {
  --theme: var(--violé);
  color: #00d99f;
}

/* Arrow animation */
.tab input:not(:checked) + .tab__label:hover::after {
  animation: bounce .5s infinite;
}
@keyframes bounce {
  25% {
    transform: rotate(90deg) translate(.25rem);
  }
  75% {
    transform: rotate(90deg) translate(-.25rem);
  }
}

